.footer{
    background: url(./photo/k_chemu_snitsya_kofe.jpg) center/cover no-repeat;
    background-attachment: fixed; 
    width: 100%;
    height: 100%;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.foter__context{
padding-bottom: 500px;
}
